<h2>Veiculos Cadastrados</h2>

<button (click)="abrirModalVeiculo()" class="btn btn-success" type="button">
  <i class="bi bi-plus"></i>
  Adicionar novo
</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Modelo</th>
    <th scope="col">Ano</th>
    <th scope="col">Placa</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let veiculo of veiculos">
    <td>{{veiculo.modelo}}</td>
    <td>{{veiculo.ano}}</td>
    <td>{{veiculo.placa}}</td>
    <td>
      <button (click)="abrirModalVeiculo(veiculo)" class="btn btn-primary m-1" type="button">
        <i class="bi bi-pencil"></i>
      </button>
      <button (click)="deleteVeiculo(veiculo.id)" class="btn btn-danger m-1" type="button">
        <i class="bi bi-trash3"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
