<div>
  <h1 mat-dialog-title>Adicionar Contrato</h1>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div class="input-group my-3">
      <span class="input-group-text">
        <i class="bi bi-file-text"></i>
      </span>
        <input class="form-control"
               formControlName="nome"
               placeholder="Nome do Contrato"
               type="text">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">
        <i class="bi bi-file-plus"></i>
      </span>
        <select formControlName="idAgregado" class="form-select" [title]="modalTitle">
          <option disabled selected>Selecionar</option>
          <option *ngFor="let options of selectOptions" [value]="options.id">{{options.value}}</option>
        </select>
      </div>

      <p>Inicio Vigencia</p>
      <div class="input-group mb-3">
        <span class="input-group-text">
          <i class="bi bi-calendar"></i>
        </span>
        <input class="form-control"
               formControlName="dataInicio"
               placeholder="Data Inicio"
               type="date">
      </div>

      <p>Fim Vigencia</p>
      <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="bi bi-calendar"></i>
      </span>
        <input
          class="form-control"
          formControlName="dataFinal"
          placeholder="Data Final"
          type="date">
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button
      (click)="saveContrato()"
      [disabled]="!canSave"
      class="btn btn-dark m-1">
      Salvar
    </button>
    <button class="btn btn-danger m-1" mat-dialog-close>
      Cancelar
    </button>
  </div>
</div>
