<h2>Todos meus Contratos</h2>

<div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
    Adicionar novo
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" (click)="openCreateModal(actions.Equipamento)">Contrato de Equipamento</button></li>
    <li><button class="dropdown-item" (click)="openCreateModal(actions.Imovel)">Contrato de Imovel</button></li>
    <li><button class="dropdown-item" (click)="openCreateModal(actions.Veiculo)">Contrato de Veiculo</button></li>
  </ul>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Nome Agregado</th>
    <th scope="col">Data Inicio Vigência</th>
    <th scope="col">Data Final Vigência</th>
    <th scope="col">Tipo</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contrato of contratos">
    <td>{{contrato.nome}}</td>
    <td>{{contrato.nomeAgregado}}</td>
    <td>{{contrato.dataInicio}}</td>
    <td>{{contrato.dataFinal}}</td>
    <td>{{contrato.tipoContrato}}</td>
    <td>
      <button (click)="deleteContrato(contrato.id)" class="btn btn-danger m-1" type="button">
        <i class="bi bi-trash3"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
