<h2>Equipamentos Cadastrados</h2>


<button (click)="abrirModalEquipamento()" class="btn btn-success" type="button">
  <i class="bi bi-plus"></i>
  Adicionar novo
</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Descrição</th>
    <th scope="col">Data de Aquisição</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let equipamento of equipamentos">
    <td>{{equipamento.nome}}</td>
    <td>{{equipamento.descricao}}</td>
    <td>{{equipamento.dataAquisicao}}</td>
    <td>
      <button (click)="abrirModalEquipamento(equipamento)" class="btn btn-primary m-1" type="button">
        <i class="bi bi-pencil"></i>
      </button>
      <button (click)="deleteEquipamento(equipamento.id)" class="btn btn-danger m-1" type="button">
        <i class="bi bi-trash3"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
