<h2>Imoveis Cadastrados</h2>

<button class="btn btn-success" type="button">
  <i class="bi bi-plus"></i>
  Adicionar novo
</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Data Inicio Vigencia</th>
    <th scope="col">Data Fim Vigencia</th>
    <th scope="col">Tipo</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>@mdo</td>
  </tr>
  </tbody>
</table>
