<h2>Imoveis Cadastrados</h2>

<button (click)="abrirModalImovel()" class="btn btn-success" type="button">
  <i class="bi bi-plus"></i>
  Adicionar novo
</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Descrição</th>
    <th scope="col">Endereço</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let imovel of imoveis">
    <td>{{imovel.nome}}</td>
    <td>{{imovel.descricao}}</td>
    <td>{{imovel.endereco}}</td>
    <td>
      <button (click)="abrirModalImovel(imovel)" class="btn btn-primary m-1" type="button">
        <i class="bi bi-pencil"></i>
      </button>
      <button (click)="deleteImovel(imovel.id)" class="btn btn-danger m-1" type="button">
        <i class="bi bi-trash3"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
